<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>IF ELIF CONDITION</h1>
    <h2>this is also belongs to application1</h2>
    {% if a > b and a > c %}
        <h2>i am in if block</h2>
        {{a}}
    {% elif b > c %}
        <h2>i am in elif block</h2>
        {{b}}
    {% else %}
        <h3>i am in else block</h3>
        {{c}}
    {% endif %}

</body>
</html>